**ESA4 - Tobias KÃ¶hn**

**1. Aufgabe: Write a NumPy program to get the indices of the sorted elements of a given array.**

```python 
     score = np.array([103, 1502, 6230, 3, 1682, 5241, 4532])

In [14]:
import numpy as np

#function
def get_indices(array):
    indices = np.argsort(array)
    return indices

#Indices of the array unsorted
score = np.array([103, 1502, 6230, 3, 1682, 5241, 4532])
indices = get_indices(score)
print(indices)

[3 0 1 4 6 5 2]

**2. Aufgabe: Do the following exercise in a Jupyter Notebook:**
+ Load the countries.csv directly via URL import into your panda data frame!
+ Display descriptive statistics for the numerical column (count, mean, std, min, 25%, 50%, 75%, max) HINT: describe
+ Show the last 4 rows of the data frame.
+ Show all the rows of countries that have the EURO
+ Show only name and Currency in a new data frame
+ Show only the rows/countries that have more than 2000 GDP (it is in Milliarden USD Bruttoinlandsprodukt)
+ Select all countries where with inhabitants between 50 and 150 Mio
+ Calculate the GDP average (ignore the missing value)
+ Calculate the GDP average (missing value treated as 0)
+ Calculate the population density (population/area)  of all countries and add as new column
+ Sort by country name alphabetically
+ Create a new data frame from the original where the area is changed: all countries with > 1000000 get BIG and <= 1000000 get SMALL in the cell replaced!

**Teilaufgabe 1**
+ Load the countries.csv directly via URL import into your panda data frame!

In [15]:
import pandas as pd
Countries = pd.read_csv('country.csv')
Countries

        Name  Population     Area     GDP Currency
0    Germany    82521653   357385  3466.0      EUR
1      Japan   126045000   377835  4938.0      YEN
2     Canada    36503097  9984670  1529.0      CAD
3      Italy    60501718   301338  1850.0      EUR
4   Brazilia   208360000  8515770  1798.0     REAL
5     Taiwan    23938272    36197   744.0      NTD
6  Venezuela    28208977   912050     NaN      VED

**Teilaufgabe 2**
+ Display descriptive statistics for the numerical column (count, mean, std, min, 25%, 50%, 75%, max) HINT: describe

In [16]:
Countries.describe()

         Population          Area          GDP
count  7.000000e+00  7.000000e+00     6.000000
mean   8.086839e+07  2.926464e+06  2387.500000
std    6.670195e+07  4.348507e+06  1532.497537
min    2.393827e+07  3.619700e+04   744.000000
25%    3.235604e+07  3.293615e+05  1596.250000
50%    6.050172e+07  3.778350e+05  1824.000000
75%    1.042833e+08  4.713910e+06  3062.000000
max    2.083600e+08  9.984670e+06  4938.000000

**Teilaufgabe 3**
+ Show the last 4 rows of the data frame.

In [17]:
Countries.tail(4)

        Name  Population     Area     GDP Currency
3      Italy    60501718   301338  1850.0      EUR
4   Brazilia   208360000  8515770  1798.0     REAL
5     Taiwan    23938272    36197   744.0      NTD
6  Venezuela    28208977   912050     NaN      VED

**Teilaufgabe 4**
+ Show all the rows of countries that have the EURO

In [18]:
Countries.loc[Countries['Currency']=='EUR']

      Name  Population    Area     GDP Currency
0  Germany    82521653  357385  3466.0      EUR
3    Italy    60501718  301338  1850.0      EUR

**Teilaufgabe 5**
+ Show only name and Currency in a new data frame

In [19]:
Countries2 = Countries[['Name','Currency']].copy()
Countries2

        Name Currency
0    Germany      EUR
1      Japan      YEN
2     Canada      CAD
3      Italy      EUR
4   Brazilia     REAL
5     Taiwan      NTD
6  Venezuela      VED

**Teilaufgabe 6**
+ Show only the rows/countries that have more than 2000 GDP (it is in Milliarden USD Bruttoinlandsprodukt)

In [20]:
Countries.loc[Countries['GDP'] > 2000]

      Name  Population    Area     GDP Currency
0  Germany    82521653  357385  3466.0      EUR
1    Japan   126045000  377835  4938.0      YEN

**Teilaufgabe 7**
+ Select all countries where with inhabitants between 50 and 150 Mio

In [21]:
Countries.loc[(Countries['Population'] < 150000000) & (Countries['Population'] > 50000000)]

      Name  Population    Area     GDP Currency
0  Germany    82521653  357385  3466.0      EUR
1    Japan   126045000  377835  4938.0      YEN
3    Italy    60501718  301338  1850.0      EUR

**Teilaufgabe 8**
+ Calculate the GDP average (ignore the missing value)

In [22]:
Countries['GDP'].mean()

2387.5

**Teilaufgabe 9**
+ Calculate the GDP average (missing value treated as 0)

In [23]:
CountriesGDP = Countries.fillna(0)
CountriesGDP['GDP'].mean()

2046.4285714285713

**Teilaufgabe 10**
+ Calculate the population density (population/area)  of all countries and add as new column

In [24]:
Countries['Density'] = Countries['Population'] / Countries['Area']
Countries

        Name  Population     Area     GDP Currency     Density
0    Germany    82521653   357385  3466.0      EUR  230.904075
1      Japan   126045000   377835  4938.0      YEN  333.597999
2     Canada    36503097  9984670  1529.0      CAD    3.655914
3      Italy    60501718   301338  1850.0      EUR  200.776928
4   Brazilia   208360000  8515770  1798.0     REAL   24.467547
5     Taiwan    23938272    36197   744.0      NTD  661.333039
6  Venezuela    28208977   912050     NaN      VED   30.929200

**Teilaufgabe 11**
+ Sort by country name alphabetically

In [25]:
Countries.sort_values(by=['Name'])

        Name  Population     Area     GDP Currency     Density
4   Brazilia   208360000  8515770  1798.0     REAL   24.467547
2     Canada    36503097  9984670  1529.0      CAD    3.655914
0    Germany    82521653   357385  3466.0      EUR  230.904075
3      Italy    60501718   301338  1850.0      EUR  200.776928
1      Japan   126045000   377835  4938.0      YEN  333.597999
5     Taiwan    23938272    36197   744.0      NTD  661.333039
6  Venezuela    28208977   912050     NaN      VED   30.929200

**Teilaufgabe 12**
+ Create a new data frame from the original where the area is changed: all countries with > 1000000 get BIG and <= 1000000 get SMALL in the cell replaced!

In [26]:
Countries12 = pd.read_csv('country.csv')
Countries12['Area'] = np.where(Countries12['Area'] > 1000000, "BIG", "SMALL")
Countries12

        Name  Population   Area     GDP Currency
0    Germany    82521653  SMALL  3466.0      EUR
1      Japan   126045000  SMALL  4938.0      YEN
2     Canada    36503097    BIG  1529.0      CAD
3      Italy    60501718  SMALL  1850.0      EUR
4   Brazilia   208360000    BIG  1798.0     REAL
5     Taiwan    23938272  SMALL   744.0      NTD
6  Venezuela    28208977  SMALL     NaN      VED